<h2>{{ titulo }}</h2>

<p>Añadir marca</p>
<p>
<input type="text" [(ngModel)]="mi_marca" (keyup.enter)="mostrarPalabra()"/>
<button (click)="getMarca()"> mostrar marca</button>
<button (click)="addMarca()"> añadir marca</button>

</p>
<p><strong>{{mi_marca}}</strong></p>

<p>Compra primeras marcas en Zapatillas</p>
<ul>
  <li *ngFor="let marca of marcas; let indice = index">{{ indice + ' - ' + marca }}
    <button (click)="borrarMarca(indice)">Borrar</button>
  </li>
</ul>
<p>tenemos disponibles los siguientes productos:</p>
<ul>
  <li *ngFor="let zapatilla of zapatillas">
    {{ zapatilla.nombre }} - <strong [class.altoPrecio]="zapatilla.precio>100"
      >{{ zapatilla.precio }}€</strong>
    <div *ngIf="!zapatilla.stock">
      {{ zapatilla.nombre }} - <strong></strong>
      <span
        *ngIf="zapatilla.precio <= 100"
        [style.background]="zapatilla.precio <= 100 ? 'green' : 'transparent'"
      >
        ¡¡EN OFERTA!!</span
      >
    </div>
  </li>
</ul>

<p>El color de la mayoria de nuestras zapatillas es:</p>
<input type="text" [(ngModel)]="color" />
<ul [ngSwitch]="color">
  <li *ngSwitchCase="'yellow'">
    el color predominante es el<span style="background: yellow"> amarillo</span>
  </li>
  <li *ngSwitchCase="'red'">
    el color predominante es el <span style="background: red"> rojo</span>
  </li>
  <li *ngSwitchCase="'blue'">
    el color predominante es el <span style="background: blue"> azul</span>
  </li>
  <li *ngSwitchCase="'orange'">
    el color predominante es el <span style="background: orange"> naranja</span>
  </li>
</ul>



