<h2>pagina principal</h2>
<!-- dos maneras de hacerlo de ng template -->

<!-- <div *ngIf="identificado; else noIdentificado">
  <h3>Estas identificado en la aplicación</h3>
  <button (click)="unsetIdentificado()">Borrar identificación</button>
</div> -->

<div *ngIf="identificado; then siIdentificado else noIdentificado"></div>

<ng-template #siIdentificado>
  <h3>Estas identificado en la aplicación</h3>
  <button (click)="unsetIdentificado()">Borrar identificación</button>
</ng-template>

<ng-template #noIdentificado>
  <p>No estas identificado, pulsa este botón para identificarte</p>
  <button (click)="setIdentificado()">Identificarse</button>
</ng-template>
